main{
    .conta{
        .uno{
            display: flex;
            flex-direction: column;
            margin: 5rem;
            margin-bottom: 2rem;
            justify-content: center;
            text-align: center;

            p{
                margin-top: 3rem;
            }
            h2{
                position: relative;
                left: 1rem;
            }
        }
        .dos{
            display: flex;
            justify-content: center;
            text-align: center;
            ul{
                list-style: none;
                li{
                    margin: 0.4rem;
                    a{
                        text-decoration: none;
                        i{
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
        .datos-contact{
            display: flex;
            justify-content: center;
            form{
                div{
                    display: flex;
                    flex-direction: column;
                    width: 20rem;
                    margin-top: 2rem;
                    margin-bottom: 5rem;

                    input{
                        display: flex;
                        margin: 0.3rem;
                        border-radius: 0.7rem;
                        width: 25rem;
                        padding: 0.2rem;
                        padding-left: 0.7rem;
                        position: relative;
                        right: 4rem;
                        width: 30rem;
                        border: solid grey 0.1rem;
                    }
                    textarea{
                        border-radius: 0.7rem;
                        width: 30rem;
                        height: 6rem;
                        padding: 0.2rem;
                        padding-left: 0.7rem;
                        position: relative;
                        right: 4rem;
                        margin: 0.3rem;
                    }
                    .enviar-input{
    
                        position: relative;
                        left: 10rem;
                        #enviar-contact{
    
                            justify-content:center ;
                            width: 10rem;
                            background-color: antiquewhite;
                            padding: 0.4rem;
                            &:hover{
                                background-color: #CBAC88;
                            }
                        
                        }
                    
                    }

                }
            }
        }
    }
}